@using System.Net
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model PieDetailViewModel

<h2>@Localizer["Title"]</h2>

<div class="jumbotron">
	<h1 class="display-4">@Model.Pie.Name @Model.Pie.Price.ToString("c")</h1>
	<img src="@Model.Pie.ImageUrl" alt="@Model.Pie.Name" class="img-thumbnail img-fluid mt-2 mb-2" />
	<p class="lead">@Model.Pie.ShortDescription</p>
	<hr class="my-4">
	<p>@Model.Pie.LongDescription</p>
	<a class="btn btn-success shadow-sm"
		 asp-controller="ShoppingCart"
		 asp-action="AddToShoppingCart"
		 asp-route-pieId="@Model.Pie.PieId">
		@Localizer["BtnAddToCart"]
	</a>
	<a class="btn btn-primary shadow-sm"
		 role="button"
		 asp-controller="Pie"
		 asp-action="List">
		@Localizer["PieList"]
	</a>

	@*Reviews*@
	<div style="margin-top: 20px">
		<h3>@Localizer["ReviewsTitle"]</h3>
		<hr />
		@foreach (var review in Model.Pie.PieReviews)
		{
			<div class="alert alert-warning shadow-sm" role="alert">
				<h5 class="alert-heading">
					<i class="bi bi-people-fill"></i>
					@review.User.UserName
				</h5>
				<hr />
				<p>@WebUtility.HtmlDecode(review.Review)</p>
			</div>
		}
	</div>
	@*Reviews*@

	@*Reviews Form*@
	<div style="margin-top: 20px">
		<form method="post"
					asp-controller="Pie"
					asp-action="Details"
					role="form">
			<h4>@Localizer["WriteReview"]</h4>
			<hr />
			<input type="hidden" asp-for="@Model.Pie.PieId" />
			<div asp-validation-summary="All"></div>
			<div class="form-group">
				<label asp-for="@Model.Review" class="col-md-2 control-label">
					@Localizer["Review"]
				</label>
				<div class="col-md-10">
					<textarea asp-for="@Model.Review" class="form-control" maxlength="255"></textarea>
					<span asp-validation-for="@Model.Review" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" class="btn btn-primary shadow-sm" value="@Localizer["SendReview"]" />
				</div>
			</div>
		</form>
	</div>
</div>
@*Reviews Form*@

@section Scripts {
	<script>
		$(function () {
			// clear input on submit
			document.querySelector("[name='Review']").value = "";
		});
	</script>

}