@using Microsoft.AspNetCore.Mvc.Localization
@model PiesListViewModel
@inject IViewLocalizer Localizer

@{ ViewData["Title"] = Localizer["Title"]; }

<h2>@ViewData["Title"]</h2>

<table class="table table-hover">
	<caption>@Model.CurrentCategory</caption>
	<thead>
		<tr>
			<th>#</th>
			<th>@Localizer["Image"]</th>
			<th>@Localizer["Name"]</th>
			<th>@Localizer["Price"]</th>
			<th>@Localizer["Category"]</th>
			<th>@Localizer["InStock"]</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var pie in Model.Pies)
		{
			<partial name="_Pie" model="pie" />
}
	</tbody>
</table>