@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Order>
@inject IViewLocalizer Localizer

@{ ViewData["Title"] = Localizer["Title"]; }

<h2>@ViewData["Title"]</h2>
<hr />
@if (Model.Count() > 0)
{
	@foreach (var order in Model) {
		<div class="card shadow-sm mt-3 mb-3">
			<div class="card-header">
				@Localizer["OrderCompleted"] <b>@order.OrderPlaced</b>
			</div>
			<div class="card-body">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th>#</th>
							<th>@Localizer["Name"]</th>
							<th>@Localizer["Address"]</th>
							<th>@Localizer["City"]</th>
							<th>@Localizer["Country"]</th>
							<th>@Localizer["Shipper"]</th>
							<th>@Localizer["Total"]</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@order.OrderId</td>
							<td>@order.LastName @order.FirstName</td>
							<td>@order.AddressLine1</td>
							<td>@order.City</td>
							<td>@order.Country</td>
							<td>@order.ShipperType</td>
							<td><b>@order.OrderTotal.ToString("c")</b></td>
						</tr>
						<tr>
							<td colspan="7">
								<div class="card">
									<div class="card-header">
										@Localizer["OrderItems"] @order.OrderDetails.Count
									</div>
									<div class="card-body">
										<h5 class="card-title"></h5>
										<table class="table table-striped table-sm">
											<thead class="thead-dark">
												<tr>
													<th>#</th>
													<th>@Localizer["Image"]</th>
													<th>@Localizer["Pie"]</th>
													<th>@Localizer["Price"]</th>
													<th>@Localizer["Amount"]</th>
													<th>@Localizer["SubTotal"]</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var orderDetail in order.OrderDetails)
												{
													<tr>
														<td>@orderDetail.OrderDetailId</td>
														<td>
															<img src=@orderDetail.Pie.ImageThumbnailUrl
																	 alt=@orderDetail.Pie.Name
																	 class="img-thumbnail"
																	 style="width: 64px" />
														</td>
														<td>@orderDetail.Pie.Name</td>
														<td>@orderDetail.Pie.Price.ToString("c")</td>
														<td>@orderDetail.Amount</td>
														<td>
															@((orderDetail.Pie.Price * orderDetail.Amount).ToString("c"))
														</td>
													</tr>
												}
											</tbody>
										</table>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>}
}
else
{
	<h3>@Localizer["NoOrders"]</h3>
}